<!doctype html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ if not .Params.skip_header }}
    {{ partial "header.html" . }}
    {{ end }}

    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
    
    {{ if not .Params.skip_footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "scripts.html" . }}
    {{ block "script" . }}
    {{ end }}
  </body>
</html>
