{{ define "content" }}
<h1 class="page-heading">Blog</h1>
{{ range .Data.Pages }}
<section class="post-list row">
  <div class="post-meta three columns">
    {{.Date.Format "Jan 01, 2006"}}
  </div>
  <div class="project-link nine columns">
    <h3>
      <a class="post-link" href="{{.Permalink}}">{{ .Title }}</a>
    </h3>
    <p class="post-excerpt">
      {{ .Content | plainify | truncate 150 }}
    </p>
  </div>
</section>
{{ end }}
{{ end }}
