{{ define "content" }}
<section>
<ul style="list-style-type:none;">
  {{ range .Site.RegularPages }}
  <li ><a href="{{ .RelPermalink}}"> {{ .Date.Format "2006-01-02" }} </a> </li>
  {{ end }}
</ul>
</section>
{{ end }}
