{{ define "content" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <h4 class="post-meta">
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format "January 1, 2006" }}</time>
    </h4>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

</article>
{{ end }}
