<footer>
  <div class="footer-links row">
    <div class="offset-by-three six columns">
      <ul>
        <li>
          <a href="mailto:contact@mnewton.com">Contact</a>
        </li>
        <li>
          {{ .Site.Title }}
        </li>
        <li>
          <a type="application/rss" href="{{ .Site.RSSLink }}">RSS</a>
        </li>
    </div>
  </div>
</footer>
