<div class="navbar row">
  <div class="header-title six columns">
    <ul>
      <li>
        <a href="{{ .Site.Params.www }}">Matthew Sojourner Newton</a>
      </li>
    </ul>
  </div>
  <div class="header-links six columns">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
      {{ end }}
      <li><a href="#" id="search-toggle">Search</a></li>
    </ul>
  </div>
</div>
