<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Description }}">

<link rel="stylesheet" type="text/css" href="/css/resume.css">

<link rel="canonical" href="{{ print .Site.BaseURL .URL | safeURL }}">

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<link rel="icon" type="image/png" href="/favicon.png">

</head>
