<!doctype html>
<html>
  {{ partial "resume-head.html" . }}
  <body>
    <div class="content container">
      <div class="name eight columns">
        <h3>
          {{ .Site.Data.resume.name }}
        </h3>
      </div>
      <div class="four columns">
        <ul class="location-list">
          <li>
            <a href="mailto:{{ .Site.Data.resume.contact.email }}>%22">{{ .Site.Data.resume.contact.email }}</a>
          </li>
          <li>
            {{ .Site.Data.resume.contact.phone }}
          </li>
          <!-- <li>
               {{ .Site.Data.resume.location.city }}
               </li> -->
        </ul>
      </div>
      <div class="twelve columns">
        <p>
          {{ .Site.Data.resume.info.brief }}
        </p>
        <h5>
          EXPERIENCE
        </h5>
        <ul class="history-list">
          {{ range .Site.Data.resume.employment.history }}
          <li>
            <p>
              <strong>{{ .position }}</strong> ({{ .start }} - {{ if .end }}{{ .end }}{{ else }} present{{ end }})
            </p>
            <p>
              <em>{{ .employer }}</em> &mdash; {{ .url }}
            </p>
            <ul class="history-highlights">
              {{ range .highlights }}
              <li>
                {{ . }}
              </li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
        <h5>
          PROJECTS
        </h5>
        <ul class="history-list">
          {{ range .Site.Data.resume.projects }}
          <li>
            <strong>{{ .title }}</strong> - {{ .summary }}
          </li>
          {{ end }}
        </ul>
        <h5>
          EDUCATION
        </h5>
        <ul class="history-list">
          {{ range .Site.Data.resume.education.history }}
          <li>
            <p>
              <strong>{{ .institution }}</strong> ({{ .end }})
            </p>
            <ul class="history-highlights">
              <li> {{ .title }} &mdash; {{ .summary }}</li>
            </ul>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    
  </body>
</html>
